<div class="event-item lst:bg-primary/5 lst:border-b lst:border-black js-event-item">
  <a href="{{ article.url }}" class="lst:px-4 lst:pt-4 lst:block lst:peer">
    {% if article.image %}
      {% comment %}
        <img
          width="800"
          height="600"
          src="{{ article.image | image_url: width: 800 }}"
          class="lst:w-full lst:aspect-video lst:object-cover"
          alt="{{ article.title }}"
        >
      {% endcomment %}
      <img
        src="{{ article.image | image_url: width: 1000, height: 600, crop: 'center' }}"
        class="lst:h-full lst:w-full lst:object-cover lst:aspect-1000/600"
        alt="{{ article.title }}"
        width="1000px"
        height="600px"
        loading="lazy"
      >
    {% endif %}
  </a>
  <div class="lst:grid lst:grid-cols-2 lst:group">
    <div class="lst:text-large lst:leading-[1.6em] lst:line-clamp-1 lst:col-span-2">
      <h2 class="  lst:text-black lst:p-2 lst:border-b lst:border-black lst:px-4">
        {{ article.title }}
      </h2>
    </div>
    <div class="lst:text-large lst:text-black lst:py-2 lst:px-4 lst:border-r lst:border-black">
      {% if article.metafields.blog_event.start_date_time.value %}
        <p>{{ article.metafields.blog_event.start_date_time.value | date: '%B %d, %Y' }}</p>
      {% endif %}
    </div>
    <a
      class="lst:text-large lst:text-black lst:p-2 lst:hover:bg-primary"
      href="{{ article.url }}"
      >Infos +</a
    >
  </div>
</div>
