{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<script src="{{ 'component-mega-menu-grid-vite.js' | asset_url }}" defer="defer"></script>

<nav class="lst:justify-between lst:items-center lst:grow lst:hidden lst:lg:flex">
  <ul class="list-menu list-menu--inline lst:justify-between lst:w-full lst:gap-0" role="list">
    {%- for link in section.settings.menu.links -%}
      <li class="lst:grow">
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                role="button"
                aria-expanded="false"
              >
                {% if link.url != '#' %}
                  <a
                    href="{{ link.url }}"
                    class="
                      header__menu-item lst:text-heading list-menu__item link link--text focus-inset
                      {%- if link.child_active %}
                       header__active-menu-item
                      {% endif %}
                    "
                  >
                    <span>
                      {{- link.title | escape -}}
                    </span>
                  </a>
                {% else %}
                  <span class="header__menu-item lst:text-heading list-menu__item link link--text focus-inset">
                    {{- link.title | escape -}}
                  </span>
                {% endif %}
                {% comment %} {% render 'icon-caret' %} {% endcomment %}
              </summary>

              <mega-menu-grid>
                <div
                  id="MegaMenu-Content-{{ forloop.index }}"
                  class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup lst:p-0!"
                  tabindex="-1"
                >
                  <ul
                    class="mega-menu__list{% if link.levels == 1 %} mega-menu__list--condensede{% endif %}"
                    role="list"
                  >
                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="mega-menu__link mega-menu__link--level-2 link lst:no-underline! {% if childlink.current %} mega-menu__link--active{% endif %} lst:text-heading lst:block lst:p-4"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                        {%- if childlink.links != blank -%}
                          <ul class="list-unstyled lst:border-t lst:border-[#808080] lst:mt-2 lst:pt-2" role="list">
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %} lst:text-heading lst:block lst:py-2"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </mega-menu-grid>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="
              header__menu-item lst:text-heading list-menu__item link link--text focus-inset
              {%- if link.current %}
                header__active-menu-item
              {% endif %}
            "
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span>
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
