{%- comment -%}
  Renders a single language button for switching to the non-active language
{%- endcomment -%}
<script>
  console.log({{ localization.available_languages | json }})
</script>

{%- for language in localization.available_languages -%}
  {% if language.iso_code != localization.language.iso_code %}
    <button
      class="language-switch-button lst-border-x lst-border-black localization-form__select localization-selector link link--text caption-large lst-uppercase"
      hreflang="{{ language.iso_code }}"
      lang="{{ language.iso_code }}"
      data-value="{{ language.iso_code }}"
    >
      <span>{{ language.iso_code | capitalize }}</span>
    </button>
  {% endif %}
{%- endfor -%}
<input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
<script src="{{ 'language-switch.js' | asset_url }}" defer="defer"></script>
