{% comment %}theme-check-disable UndefinedObject{% endcomment %}

{% comment %}theme-check-enable UndefinedObject{% endcomment %}
{%- style -%}
  #shopify-section-{{ section.id }} {
    order: 2;
  }
  @media screen and (min-width: 1024px) {
  #shopify-section-{{ section.id }} {
      order: inherit;
    }
  }
{%- endstyle -%}

<section class="lst-bg-primary lst-h-full">
  <div class="footer lst-h-full lst-flex lst-flex-col lst-justify-between">
    <div class="section-{{ section.id }} lst-px-3 lg:lst-px-5 lst-py-8">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'rich_text' %}
            <div
              class="footer__rich-text lst-prose prose lst-text-black {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
              {% endif %}
            >
              {{ block.settings.rich_text_content }}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
    <div
      class="section-{{ section.id }} lst-grid lg:lst-grid-cols-3 lst-flex-wrap lg:lst-flex-nowrap lst-mt-10 lst-border lst-border-b-0 lst-border-black"
    >
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'link_with_icon' %}
            <a
              href="{{ block.settings.link_with_icon_url }}"
              class="lst-flex lst-space-x-4 lst-items-center lst-border-b lst-border-black lg:lst-border-l lg:first:!lst-border-l-0 lg:lst-justify-center lst-py-1 lst-min-w-52 lst-px-3 lg:lst-px-5 lst-h-[45px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
              {% endif %}
            >
              <span class="lst-text-base lst-text-black">{{ block.settings.link_with_icon_text }}</span>
              <img
                height="36"
                width="36"
                class="lst-shrink-0 lst-max-w-[36px] lst-max-h-[36px] lst-object-contain "
                src="{{ block.settings.link_with_icon_icon | img_url: '50x' }}"
                alt="{{ block.settings.link_with_icon_text }}"
              >
            </a>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Footer Left",
  "max_blocks": 10,
  "enabled_on": {
    "groups": ["footer"]
  },
  "blocks": [
    {
      "type": "rich_text",
      "name": "Rich Text",
      "settings": [
        {
          "type": "richtext",
          "id": "rich_text_content",
          "label": "Rich Text Content"
        }
      ]
    },
    {
      "type": "link_with_icon",
      "name": "Link with Icon",
      "settings": [
        {
          "type": "text",
          "id": "link_with_icon_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link_with_icon_url",
          "label": "Link URL"
        },
        {
          "type": "image_picker",
          "id": "link_with_icon_icon",
          "label": "Link Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default Footer Left",
      "category": "Footer"
    }
  ]
}
{% endschema %}
