<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<style>
  header-drawer {
    justify-self: start;
    margin-left: -.7rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 1024px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 1024px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 32 32" fill="none">
<rect x="0.5" y="0.5" width="31" height="31" stroke="black"/>
<path d="M14 21C18.4183 21 22 17.4183 22 13C22 8.58172 18.4183 5 14 5C9.58172 5 6 8.58172 6 13C6 17.4183 9.58172 21 14 21Z" stroke="#231F20" stroke-miterlimit="10"/>
<path d="M20 20L27 26" stroke="#231F20" stroke-miterlimit="10"/>


  </symbol>
  <symbol id="icon-cart" viewbox="0 0 34 34" fill="none">
    <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="black"/>
    <path d="M20 11.993C20 9.23538 17.9854 7 15.5 7C13.0146 7 11 9.23538 11 11.993V12L20 11.993Z" stroke="#231F20" stroke-miterlimit="10"/>
    <path d="M22 12H9V25H22V12Z" stroke="#231F20" stroke-miterlimit="10"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="lst-w-full lst-min-h-[54px] lst-border-b lst-border-black lst-max-w-none !lst-px-0 lst-mx-0 lst-py-2 drawer-menu {% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    <div class="lst-flex">
      {%- if request.page_type == 'index' -%}
        <h1 class="lst-flex lst-items-center">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="focus-inset lst-text-black lst-text-base xl:lst-text-2xl lst-inline-flex lst-items-center lst-px-3 lg:lst-px-5">
            <svg class="logo lst-max-w-28 xl:lst-max-w-44 lst-h-auto" width="333" height="50" viewBox="0 0 333 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1"  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" >
                  <g id="LST_logohorizontal_noir" fill="#000000" fill-rule="nonzero">
                      <path d="M2.53209141,34.6098615 C2.53439751,36.2794737 3.3692036,36.8214058 5.03881579,36.5677355 L5.41470914,36.5677355 L5.41701524,38.7792798 C5.04112188,38.8646053 4.24782548,38.9061177 3.70589335,38.9061177 C1.24298476,38.9084211 0.0299792244,37.4486634 0.0276731302,35.0687742 L4.09644617e-16,9.44345568 L2.50441828,9.44114958 L2.53209141,34.6098615 Z" id="Path"></path>
                      <path d="M10.9262742,38.6478324 L10.9032133,17.7776801 L13.4076316,17.775374 L13.4306925,38.6455263 L10.9262742,38.6478324 Z M14.1917036,10.7625416 C14.1917036,11.8902216 13.2761842,12.7250277 12.1485042,12.7273386 C11.0208241,12.7296399 10.1006882,11.8948338 10.1006882,10.7671537 L10.1006882,10.6841343 C10.0983864,9.4734349 11.0162119,8.76315789 12.143892,8.7608518 C13.271572,8.7608518 14.1893975,9.46882271 14.1917036,10.6795222 L14.1917036,10.7625416 Z" id="Shape"></path>
                      <path d="M37.8776042,28.0582479 C37.8729848,23.2984695 35.4469737,19.4611288 30.313608,19.4680378 C25.2632618,19.4726593 23.0978393,23.5244668 23.1024442,28.0743906 C23.1070637,32.7073338 25.1571814,36.9620776 30.3343629,36.9574691 C35.675277,36.9528532 37.8822091,33.0670845 37.8776042,28.0582479 M30.2928532,39.254338 C27.6223961,39.2566413 24.6982687,37.8406994 23.3607341,35.9658449 L23.2777147,35.9658449 L22.4867244,38.638608 L20.7340928,38.6409141 L20.7018075,9.42270083 L23.2062258,9.42039474 L23.2177562,20.6072576 L23.3030817,20.6072576 C24.8020429,18.2688781 27.6408449,17.1365859 30.4773407,17.1342798 C35.4446676,17.1296676 40.4581163,20.420464 40.465053,27.7238643 L40.465053,28.5171607 C40.474259,34.7343906 37.0128116,39.2451108 30.2928532,39.254338" id="Shape"></path>
                      <path d="M49.3227424,38.6063227 L46.8183241,38.6086288 L46.7952632,17.7384765 L48.2573269,17.7361704 L49.1382548,21.0315789 L49.1797645,21.0315789 C50.3051385,18.7347091 53.0171053,17.5632133 55.6875623,17.5586011 C55.8143975,17.5586011 56.439349,17.5586011 56.6492036,17.6001108 L56.6515097,20.1045291 L56.1510873,20.1045291 C49.7655125,20.1114474 49.3089058,24.4953324 49.3158241,28.7523823 L49.3227424,38.6063227 Z" id="Path"></path>
                      <path d="M73.6474287,30.7310111 L73.6451177,28.8953601 C71.8924861,28.3119183 70.1813643,28.0213504 68.4264266,28.0259086 C65.3800762,28.0282687 62.3752355,29.3265997 62.3798423,32.541295 C62.3821537,35.4631163 64.5960042,36.8790582 67.4763158,36.8744572 C70.3981371,36.8698338 73.652036,34.3631094 73.6474287,30.7310111 M67.0635249,39.2543402 C64.8934903,39.2566413 62.8064751,38.465651 61.5519598,37.1304224 C60.4242798,36.0050485 59.7970222,34.6283102 59.7947117,32.9171884 L59.7947117,32.6681302 C59.7901039,28.2427355 63.4590997,25.8167244 68.509446,25.8121122 C70.2620776,25.8098061 72.0147091,25.9758449 73.6428116,26.5592867 L73.6428116,25.1825485 C73.6381994,21.6334695 72.3421745,19.3827216 68.4195083,19.3873338 C65.8297645,19.3896399 63.4106717,20.3120776 63.2884488,23.2338989 L60.7425208,23.236205 L60.7425208,22.9848407 C61.238331,18.6009557 64.5752493,17.0950762 68.3318767,17.0904559 C72.9233102,17.0858518 76.1403116,19.0414197 76.1472299,25.1364266 L76.1610665,38.5763435 L74.3669252,38.5786496 C74.0740512,37.8268629 73.8641967,36.9920568 73.5713227,36.2425762 L73.4883033,36.2425762 C72.1115651,38.0367175 69.441108,39.249723 67.0635249,39.2543402" id="Shape"></path>
                      <path d="M83.0470637,38.5671191 L83.0240028,17.6969668 L85.5284211,17.6946607 L85.551482,38.564813 L83.0470637,38.5671191 Z M86.3124931,10.6818283 C86.3124931,11.8095083 85.3969737,12.6443144 84.2692936,12.6466253 C83.1416136,12.6489266 82.2237881,11.8141205 82.2214777,10.6864404 L82.2214777,10.6034211 C82.2191759,9.39272161 83.1370014,8.6824446 84.2646814,8.6801385 C85.3923615,8.6801385 86.310187,9.38810942 86.3124931,10.5988089 L86.3124931,10.6818283 Z" id="Shape"></path>
                      <path d="M95.3569945,38.5532825 L92.8525762,38.5555886 L92.8295152,17.6854363 L94.2915789,17.6831302 L95.1725069,20.9785388 L95.2140166,20.9785388 C96.3393906,18.681669 99.0513573,17.5101731 101.721814,17.5055609 C101.846343,17.5055609 102.473601,17.5055609 102.68115,17.5470706 L102.683456,20.0514889 L102.183033,20.0514889 C95.7974584,20.0607133 95.3408518,24.4422922 95.3477701,28.6993421 L95.3569945,38.5532825 Z" id="Path"></path>
                      <path d="M107.79376,38.539446 L107.770699,17.6692936 L110.275118,17.6669875 L110.298179,38.5371399 L107.79376,38.539446 Z M111.061496,10.6541551 C111.061496,11.7818352 110.145976,12.6166413 109.018296,12.6189521 C107.890616,12.6212535 106.97048,11.7864474 106.97048,10.6587673 L106.97048,10.5757479 C106.968179,9.36504848 107.886004,8.65477147 109.013684,8.65246537 C110.141364,8.65246537 111.05919,9.36043629 111.061496,10.5711357 L111.061496,10.6541551 Z" id="Shape"></path>
                      <path d="M126.221759,19.3181469 C121.88169,19.3227632 119.547922,22.1223615 119.135132,26.5477562 L132.826413,26.5316136 C132.404398,23.1946953 131.064557,19.3135388 126.221759,19.3181469 M134.87653,32.8733726 C133.921807,36.7568352 130.626399,39.1390305 126.28633,39.1436513 C120.318158,39.1505609 116.513102,34.9811427 116.506174,28.3026939 L116.506174,27.8437812 C116.499266,21.2898615 120.124446,17.0281994 126.177943,17.0212747 C132.939411,17.0143629 135.409238,22.5213158 135.41385,27.864536 C135.41385,28.15741 135.41385,28.3234488 135.372341,28.7823615 L119.093622,28.8008102 C119.308089,33.3922438 121.731794,36.8121814 126.240208,36.8052632 C129.454903,36.8029571 131.498102,35.2970776 132.330602,32.8756787 L134.87653,32.8733726 Z" id="Shape"></path>
                      <path d="M147.938248,32.2760942 L147.938248,32.0247299 L150.567195,32.0224238 C150.737846,34.9857548 152.075381,36.9459349 155.832008,36.9413227 C159.464107,36.9367105 160.880048,35.0157341 160.877742,32.8456994 C160.877742,31.8863643 160.626378,31.2614127 160.08214,30.7194806 C157.616925,28.2588781 152.525069,29.308151 149.725471,26.5154709 C148.76383,25.5561357 148.219591,24.3892521 148.219591,22.8856787 L148.219591,22.6343144 C148.214979,19.0437258 151.593407,16.9959141 155.267015,16.9912931 C159.482555,16.9866898 162.658047,18.7785249 162.870208,22.7011911 L162.870208,22.9525554 L160.365789,22.9548615 C160.195139,19.9915305 158.108123,19.1590305 155.51838,19.1613366 C151.927791,19.1659488 150.843927,20.9185803 150.846233,22.5881925 C150.848539,23.6328532 151.139107,24.1747853 151.766364,24.7997368 C153.772666,26.8014266 159.198906,26.0427216 162.040014,28.8792175 C163.001655,29.8385526 163.504384,31.2152909 163.506693,32.6335388 C163.511302,37.5155402 159.215048,39.1067452 155.873518,39.111364 C151.118352,39.1159695 148.152715,36.7406925 147.938248,32.2760942" id="Path"></path>
                      <path d="M182.036161,30.6087881 L182.03385,28.7731371 C180.281219,28.1896953 178.570097,27.8991274 176.815159,27.9014199 C173.768809,27.9037396 170.763968,29.2020706 170.768575,32.4167659 C170.770886,35.3385873 172.984737,36.7545291 175.865048,36.7522258 C178.78687,36.7476108 182.040769,34.2408864 182.036161,30.6087881 M175.449952,39.1321172 C173.279917,39.1344183 171.192902,38.343428 169.938386,37.0081994 C168.810706,35.8828255 168.183449,34.5060873 168.181138,32.7949654 L168.181138,32.5459072 C168.17653,28.1205125 171.845526,25.6968075 176.895873,25.6898892 C178.648504,25.6875831 180.401136,25.8536219 182.029238,26.4370637 L182.029238,25.0580194 C182.024626,21.5112465 180.728601,19.2581925 176.805935,19.2628047 C174.218497,19.2651108 171.799404,20.1852424 171.677181,23.1093698 L169.131253,23.1116759 L169.131253,22.8603116 C169.627064,18.4764266 172.963982,16.9705471 176.720609,16.9659268 C181.312043,16.9613227 184.529044,18.9191967 184.535963,25.0142036 L184.549799,38.4541205 L182.755658,38.4564266 C182.462784,37.706946 182.252929,36.8698338 181.960055,36.1203532 L181.877036,36.1203532 C180.500298,37.9144945 177.829841,39.1275 175.449952,39.1321172" id="Shape"></path>
                      <path d="M194.062438,38.44259 L191.558019,38.4448961 L191.534958,17.5747438 L193.3291,17.5724377 L194.041683,19.9500208 L194.124702,19.9500208 C195.58446,18.070554 198.045062,16.9405679 200.466461,16.9359497 C203.053899,16.9336496 204.933366,17.6001108 206.229391,18.8915235 C207.691454,20.3512812 208.321018,22.4798061 208.323324,25.3163019 L208.337161,38.4218352 L205.832742,38.4241413 L205.818906,25.1917729 C205.8166,23.187777 205.4384,21.6034903 204.39374,20.5611357 C203.515118,19.6848199 202.221399,19.269723 200.341932,19.2720291 C198.337936,19.2743352 196.795159,19.8600831 195.462237,21.1976177 C194.461392,22.1984626 194.046295,23.6190166 194.048601,26.0404155 L194.062438,38.44259 Z" id="Path"></path>
                      <path d="M214.00554,32.1999931 L214.00554,31.9486288 L216.634488,31.9463227 C216.805139,34.9096537 218.142673,36.8698338 221.899301,36.8652216 C225.531399,36.8606094 226.947341,34.939633 226.945035,32.7695983 C226.945035,31.8102632 226.69367,31.1853116 226.149432,30.6433795 C223.684217,28.182777 218.592361,29.2320499 215.792763,26.4393698 C214.831122,25.4800346 214.286884,24.313151 214.286884,22.8095776 L214.286884,22.5582133 C214.282271,18.9699307 217.660699,16.919813 221.334307,16.915192 C225.549848,16.9105886 228.725339,18.7024238 228.9375,22.62509 L228.9375,22.8764543 L226.433082,22.8787604 C226.262431,19.9154294 224.175416,19.0829294 221.585672,19.0852355 C217.995083,19.0898476 216.911219,20.8424792 216.913525,22.5120914 C216.915831,23.5567521 217.206399,24.0986842 217.833657,24.7236357 C219.839958,26.7253255 225.266198,25.9666205 228.107306,28.8031163 C229.068947,29.7624515 229.571676,31.1391898 229.573986,32.5574377 C229.578594,37.4394391 225.282341,39.030644 221.94081,39.0352713 C217.185644,39.0421745 214.220007,36.6668975 214.00554,32.1999931" id="Path"></path>
                      <path d="M252.971614,17.5055609 L252.97392,19.758615 L246.964238,19.7655332 L246.978075,32.7880471 C246.980381,35.5415235 248.652299,36.5008587 250.404931,36.4985526 C251.405776,36.4962465 252.574965,36.1618629 253.368262,35.5346053 L253.993213,35.5346053 L253.995519,37.7899654 C253.119204,38.3342036 251.700956,38.7539184 250.324217,38.7539184 C245.818109,38.7585249 244.478269,35.9635388 244.473657,32.4582756 L244.45982,19.7678393 L241.247431,19.7724515 L241.245125,18.437223 C244.916427,17.4294598 245.290014,15.5107895 245.495256,12.7965166 L246.95732,12.7942105 L246.961932,17.5101731 L252.971614,17.5055609 Z" id="Path"></path>
                      <path d="M259.045866,38.368795 L259.022805,17.4986427 L261.527223,17.4963366 L261.550284,38.3664889 L259.045866,38.368795 Z M262.311295,10.4811981 C262.311295,11.6088781 261.395776,12.4436842 260.268096,12.4459951 C259.140416,12.4482964 258.22259,11.6134903 258.22028,10.4858102 L258.22028,10.4027909 C258.217978,9.19209141 259.135803,8.4818144 260.263483,8.47950271 C261.391163,8.47720222 262.308989,9.18747922 262.311295,10.3958726 L262.311295,10.4811981 Z" id="Shape"></path>
                      <path d="M278.596932,17.4778878 L278.599238,19.7309418 L272.587251,19.7378601 L272.603393,32.760374 C272.605699,35.5138504 274.277618,36.4731856 276.030249,36.4708795 C277.031094,36.4685734 278.200284,36.1341898 278.99358,35.5069321 L279.618532,35.5069321 L279.620838,37.7622922 C278.744522,38.3065305 277.326274,38.7262453 275.94723,38.7262453 C271.438816,38.7308518 270.101281,35.9358657 270.096669,32.4306025 L270.082832,19.7401662 L266.870443,19.7424723 L266.868137,18.4072438 C270.539439,17.4017867 270.913026,15.4808102 271.118269,12.7665374 L272.578026,12.7642313 L272.584945,17.4801939 L278.596932,17.4778878 Z" id="Path"></path>
                      <path d="M287.300132,38.3365097 L284.795713,38.3388158 L284.772652,17.4686634 L286.234716,17.4663573 L287.115644,20.7617659 L287.157154,20.7617659 C288.282528,18.4648961 290.994494,17.2934003 293.664952,17.2887881 C293.791787,17.2887881 294.416738,17.2887881 294.626593,17.3302978 L294.628899,19.8347161 L294.128476,19.8347161 C287.740596,19.8416343 287.286295,24.2255194 287.293213,28.4825693 L287.300132,38.3365097 Z" id="Path"></path>
                      <path d="M307.141766,19.1129045 C302.801697,19.1175208 300.467929,21.9171191 300.055139,26.3425139 L313.74642,26.3263712 C313.324404,22.9871468 311.984564,19.1082964 307.141766,19.1129045 M315.796537,32.6681302 C314.841814,36.5515928 311.546406,38.9337881 307.206337,38.9384089 C301.238165,38.9453186 297.433109,34.7759003 297.426181,28.0974515 L297.426181,27.6385388 C297.419273,21.0846191 301.046759,16.8229571 307.09795,16.8160323 C313.859418,16.8091205 316.329245,22.3160734 316.333857,27.6592936 C316.333857,27.9521676 316.333857,28.1182064 316.292348,28.5771191 L300.013629,28.5955679 C300.228096,33.1870014 302.651801,36.6069391 307.160215,36.6000208 C310.37491,36.5977147 312.418109,35.0918352 313.248303,32.6704363 L315.796537,32.6681302 Z" id="Shape"></path>
                      <path d="M327.283193,36.5792659 C327.283193,37.706946 326.367673,38.5417521 325.239993,38.5440582 C324.112313,38.5440582 323.192177,37.7115582 323.192177,36.5838781 L323.192177,36.4985526 C323.189875,35.2878532 324.107701,34.5775762 325.235381,34.5775762 C326.363061,34.5775762 327.280886,35.2855471 327.283193,36.4962465 L327.283193,36.5792659 Z" id="Path"></path>
                      <polygon id="Path" class="blink" points="332.319702 0.076101108 332.979245 0.076101108 332.979245 49.5694945 332.319702 49.5694945"></polygon>
                  </g>
              </g>
            </svg>
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
      {%- liquid
        if section.settings.menu != blank
          if section.settings.menu_type_desktop == 'dropdown'
            render 'header-dropdown-menu'
          elsif section.settings.menu_type_desktop != 'drawer'
            render 'header-mega-menu'
          endif
        endif
      %}
      <div class="lst-flex lst-gap-x-6 lst-px-3 xl:lst-px-3 lst-justify-end lst-items-center lst-text-sm lst-grow lg:lst-grow-0 {% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
        {% render 'header-search', input_id: 'Search-In-Modal' %}
        {%- if shop.customer_accounts_enabled -%}
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} !lst-hidden lg:!lst-block {% endif %}">
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                {% render 'icon-account' %}
              {%- endif -%}
            </account-icon>
            <span class="visually-hidden">
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </span>
          </a>
        {%- endif -%}
  
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
          {%- endcase -%}
        {%- endfor -%}
        <a href="{{ routes.cart_url }}" class="header__icon--cart lst-relative lst-mr-0 link focus-inset lst-no-underline" id="cart-icon-bubble">
          <div class="lst-absolute -lst-top-1 -lst-right-1">
            {%- if cart.item_count < 100 -%}
              <span class="lst-rounded-full lst-bg-primary lst-border lst-border-black lst-text-xs lst-h-4 lst-w-4 lst-items-center lst-justify-center lst-flex" aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
          <span>
            <svg class="icon icon-search !lst-h-8 !lst-w-8" aria-hidden="true" focusable="false">
              <use href="#icon-cart">
            </svg>
            <span class="lst-sr-only">{{ 'templates.cart.cart' | t }}</span>
          </span>
        </a>
        <div class="desktop-localization-wrapper !lst-hidden lg:!lst-block">
          {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
            <localization-form class="small-hide medium-hide" data-prevent-hide>
              {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                <div>
                  <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                  {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                </div>
              {%- endform -%}
            </localization-form>
          {% endif %}
  
          {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
            <localization-form class="small-hide medium-hide" data-prevent-hide>
              {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                <div>
                  <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                  {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                </div>
              {%- endform -%}
            </localization-form>
          {%- endif -%}
        </div>
        {% render 'header-drawer' %}
      </div>
    </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 1024px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
