{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  id="MainEvent-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient lst:py-0! color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
>
  {{ 'section-main-event.css' | asset_url | stylesheet_tag }}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>

  {% if section.settings.image_zoom == 'hover' %}
    <script id="EnableZoomOnHover" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
  {% endif %}

  <div class="lst:grid lst:lg:grid-cols-2">
    <div class="event__media-wrapper lst:overflow-hidden lst:lg:col-start-2 lst:lg:row-start-1">
      {% if article.image != blank %}
        <div class="event__media">
          <img
            srcset="
              {%- if article.image.width >= 350 -%}{{ article.image | image_url: width: 350 }} 350w,{%- endif -%}
              {%- if article.image.width >= 750 -%}{{ article.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if article.image.width >= 1100 -%}{{ article.image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if article.image.width >= 1500 -%}{{ article.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if article.image.width >= 2200 -%}{{ article.image | image_url: width: 2200 }} 2200w,{%- endif -%}
              {%- if article.image.width >= 3000 -%}{{ article.image | image_url: width: 3000 }} 3000w,{%- endif -%}
            "
            src="{{ article.image | image_url: width: 1500 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc(100vw - 30px)"
            alt="{{ article.image.alt | escape }}"
            loading="lazy"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            class="event-featured-media-image"
          >
        </div>
      {% else %}
        <div class="event__media">
          <div class="event__media--placeholder">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="event__info-wrapper lst:bg-[#F7F2EB] lst:lg:col-start-1 lst:lg:row-start-1 lst:px-0! {% if settings.page_width > 1400 and section.settings.media_size == "small" %} event__info-wrapper--extra-padding{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <event-info
        id="EventInfo-{{ section.id }}"
        data-section="{{ section.id }}"
        class="event__info-container lst:w-full lst:lg:border-r lst:border-b lst:border-black lst:flex lst:h-full {% if section.settings.enable_sticky_info %} event__column-sticky{% endif %}"
      >
        <div class="lst:w-full">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'title' -%}
                <div class="event__title lst:px-4 lst:pt-6 lst:lg:w-[200%]! lst:lg:sticky lst:lg:top-[2.25rem] lst:z-10" {{ block.shopify_attributes }}>
                  <h1 class="lst:text-[5.5227rem] lst:text-center">{{ article.title | escape }}</h1>
                  {% if block.settings.blog_show_date %}
                    <span class="event__date caption-with-letter-spacing">
                      {{- article.published_at | date: format: 'date' -}}
                    </span>
                  {% endif %}
                  {% if block.settings.blog_show_author and article.author != blank %}
                    <span class="event__author caption-with-letter-spacing">
                      {{ 'blogs.article.by_author' | t: author: article.author }}
                    </span>
                  {% endif %}
                </div>
              {%- when 'event_details' -%}
                <div class="event-details-container lst:lg:w-[200%]!  lst:lg:sticky lst:lg:bottom-0">
                  {% if article.metafields.blog_event.start_date_time %}
                    {%- assign start_date = article.metafields.blog_event.start_date_time.value | date: '%d %b %Y' -%}
                    {%- assign end_date = article.metafields.blog_event.end_date_time.value | date: '%d %b %Y' -%}

                    <div class="lst:text-center lst:text-black lst:text-[5.5227rem]">
                      {%- if start_date == end_date -%}
                        <div>
                          <span>{{ start_date }}</span>,
                          <span>
                            {% assign start_time = article.metafields.blog_event.start_date_time.value
                              | date: '%-H:%M'
                            %}
                            {% assign end_time = article.metafields.blog_event.end_date_time.value | date: '%-H:%M' %}
                            {{ start_time | replace: ':00', 'h' | replace: ':', 'h ' | replace: 'h m', 'h' }} —
                            {{ end_time | replace: ':00', 'h' | replace: ':', 'h ' | replace: 'h m', 'h' }}
                          </span>
                        </div>
                      {% else %}
                        <div class="lst:col-span-2">
                          <span>{{ start_date }} — {{ end_date }}</span>
                        </div>
                      {%- endif -%}
                    </div>
                  {% endif %}
                </div>
              {%- when 'content' -%}
                <div class="lst:px-3 lst:lg:px-5 lst:lg:sticky lst:top-0 js-event-info-content lst:pb-8">
                  <div class="js-fold"></div>
                  <div
                    class="event__content lst:text-base lst:text-black lst:prose prose lst:max-w-none rte"
                    {{ block.shopify_attributes }}
                  >
                    {{ article.content }}
                  </div>
                </div>
              {%- when 'share' -%}
                <div class="event__share lst:px-4 lst:py-2" {{ block.shopify_attributes }}>
                  {% render 'share-button', block: block %}
                  <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </event-info>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-event.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.main-event.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-event.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-event.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "featured_image",
      "name": "Featured image",
      "limit": 1
    },
    {
      "type": "event_details",
      "name": "t:sections.main-event.blocks.event_details.name",
      "limit": 1
    },
    {
      "type": "content",
      "name": "t:sections.main-event.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-event.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-event.blocks.share.settings.share_label.label",
          "default": "Share"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-event.settings.enable_sticky_info.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-event.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-event.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-event.settings.media_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-event.settings.media_size.label"
    },
    {
      "type": "checkbox",
      "id": "constrain_to_viewport",
      "default": true,
      "label": "t:sections.main-event.settings.constrain_to_viewport.label"
    },
    {
      "type": "select",
      "id": "media_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.main-event.settings.media_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.main-event.settings.media_fit.options__2.label"
        }
      ],
      "default": "contain",
      "label": "t:sections.main-event.settings.media_fit.label"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.main-event.settings.gallery_layout.options__1.label"
        },
        {
          "value": "thumbnail",
          "label": "t:sections.main-event.settings.gallery_layout.options__2.label"
        }
      ],
      "default": "stacked",
      "label": "t:sections.main-event.settings.gallery_layout.label"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-event.settings.media_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-event.settings.media_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-event.settings.media_position.label"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main-event.settings.image_zoom.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.main-event.settings.image_zoom.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-event.settings.image_zoom.options__3.label"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main-event.settings.image_zoom.label"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "options": [
        {
          "value": "show",
          "label": "t:sections.main-event.settings.mobile_thumbnails.options__1.label"
        },
        {
          "value": "hide",
          "label": "t:sections.main-event.settings.mobile_thumbnails.options__2.label"
        }
      ],
      "default": "hide",
      "label": "t:sections.main-event.settings.mobile_thumbnails.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-event.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
