{{ 'component-product-slideshow-vite.css' | asset_url | stylesheet_tag }}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<section class="page-width lst-my-2">
  <div class="carousel lst-relative flex flex-col js-carousel" data-drag="on">
    {% if section.settings.title != blank %}
      <p class="lst-sr-only">{{ section.settings.title }}</p>
    {% endif %}
    <div class="carousel__wrapper order-2 overflow-hidden">
      <ol class="carousel__list">
        {% for product in section.settings.collection.products limit: section.settings.products_to_show %}
          <li class="carousel__item">
            {% render 'card-product-lst',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              quick_add: section.settings.quick_add
            %}
          </li>
        {% endfor %}
      </ol>
    </div>
    <nav class="lst-mb-2 lg:lst-mb-3 lst-order-1 no-js:is-hidden">
      <ul>
        <li class="lst-absolute lst-transform -lst-translate-y-1/2 lst-left-0 lst-top-1/2">
          <button
            class="lst-appearance-none lst-p-2 carousel__control--prev js-carousel__control js-tab-focus"
          >
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.4248 12.8866L7.2698 14.0206L0.591797 7.34262V6.98562L7.2698 0.307617L8.4248 1.44162L3.4898 6.33462H14.3048V7.99362H3.5108L8.4248 12.8866Z" fill="black"/>
            </svg>
          </button>
        </li>

        <li class="lst-absolute lst-transform -lst-translate-y-1/2 lst-right-0 lst-top-1/2">
          <button
            class="lst-appearance-none lst-p-2 carousel__control--next js-carousel__control js-tab-focus"
          >
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.55383 12.8866L11.4678 7.99362H0.673828V6.33462H11.4888L6.55383 1.44162L7.70883 0.307617L14.3868 6.98562V7.34262L7.70883 14.0206L6.55383 12.8866Z" fill="black"/>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</section>
{% schema %}
{
  "name": "t:sections.products-slideshow.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured products",
      "label": "t:sections.products-slideshow.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.products-slideshow.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.products-slideshow.settings.products_to_show.label"
    },
    {
      "type": "select",
      "id": "slideshow_type",
      "options": [
        {
          "value": "carousel",
          "label": "t:sections.products-slideshow.settings.slideshow_type.options__1.label"
        },
        {
          "value": "fade",
          "label": "t:sections.products-slideshow.settings.slideshow_type.options__2.label"
        }
      ],
      "default": "carousel",
      "label": "t:sections.products-slideshow.settings.slideshow_type.label"
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5,
      "label": "t:sections.products-slideshow.settings.slideshow_speed.label"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "default": true,
      "label": "t:sections.products-slideshow.settings.autoplay.label"
    },
    {
      "type": "checkbox",
      "id": "navigation_arrows",
      "default": true,
      "label": "t:sections.products-slideshow.settings.navigation_arrows.label"
    },
    {
      "type": "checkbox",
      "id": "pagination_dots",
      "default": true,
      "label": "t:sections.products-slideshow.settings.pagination_dots.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.products-slideshow.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.products-slideshow.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.products-slideshow.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.products-slideshow.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.products-slideshow.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.products-slideshow.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.products-slideshow.settings.show_rating.label",
      "info": "t:sections.products-slideshow.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.products-slideshow.presets.name"
    }
  ]
}
{% endschema %}

<script src="{{ 'component-product-slideshow-vite.js' | asset_url }}" defer="defer"></script>
