{% comment %}Events Blog Template{% endcomment %}

<div class="lst-px-3 md:lst-px-5 lst-sr-only">
  <h1>{{ blog.title }}</h1>
</div>

<div class="events-container lst-grid lg:lst-grid-cols-2 lst-divide-x lst-divide-black">
  {% paginate blog.articles by 10 %}
    {% for article in blog.articles %}
      <div class="event-item lst-bg-[#F7F2EB] lst-border-b lst-border-black">
        <div class="lst-px-4 lst-pt-4">
          {% if article.image %}
            <img
              width="300"
              height="auto"
              src="{{ article.image | image_url: width: 800 }}"
              class="lst-w-full lst-aspect-video lst-object-cover"
              alt="{{ article.title }}"
            >
          {% endif %}
        </div>
        <div class="lst-grid lst-grid-cols-2">
          <h2 class="lst-col-span-2 lst-text-base lst-text-black lst-p-2 lst-border-b lst-border-black lst-px-4">
            {{ article.title }}
          </h2>
          <div class="lst-text-base lst-text-black lst-py-2 lst-px-4 lst-border-r lst-border-black">
            {% if article.published_at %}
              <p>Date: {{ article.published_at | date: '%B %d, %Y' }}</p>
            {% endif %}
          </div>
          <a class="lst-text-base lst-text-black lst-p-2 hover:lst-bg-primary" href="{{ article.url }}">Infos +</a>
        </div>
      </div>
    {% endfor %}

    {% if paginate.pages > 1 %}
      <div class="pagination lst-col-span-2 lst-p-4 lst-flex lst-justify-center lst-gap-4">
        {% if paginate.previous %}
          <a href="{{ paginate.previous.url }}" class="lst-text-black hover:lst-text-primary">Previous</a>
        {% endif %}

        {% for part in paginate.parts %}
          {% if part.is_link %}
            <a href="{{ part.url }}" class="lst-text-black hover:lst-text-primary">{{ part.title }}</a>
          {% else %}
            <span class="lst-text-primary">{{ part.title }}</span>
          {% endif %}
        {% endfor %}

        {% if paginate.next %}
          <a href="{{ paginate.next.url }}" class="lst-text-black hover:lst-text-primary">Next</a>
        {% endif %}
      </div>
    {% endif %}
  {% endpaginate %}
</div>
